
<div class="row" id="url-base" data_url='{{{URL_BASE}}}'>
  <div class="col-xs-12">
    <a role="button" data-toggle="collapse" href="#collapseFiltros" aria-expanded="false" aria-controls="collapseFiltros"
      style="display: block;">
      <span class="">
        <i class="fa fa-filter"></i> Filtros
        <i class="fa fa-caret-right fa-fw" id="collapseFiltros_caret"></i>
      </span>
    </a>
    <div class="collapse" id="collapseFiltros">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="id_area" class="control-label">Area<span class="required">*</span></label>
              <select name="id_area" id="id_area" class="form-control">
                <option value="">Seleccione</option>
                {{{AREAS}}}
                <option value="{{{VALUE}}}" {{{SELECTED}}}{{{BORRADO}}}>{{{TEXT}}}</option>
                {{{/AREAS}}}
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
            	<label class="control-label" for="remitente">Remitente<span class="required">*</span></label>
     		 	<input type="text" class="form-control" id="remitente" name="remitente" value="{{{REMITENTE}}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
             <div class="form-group">
      			<label for="fecha_vencimiento" class="control-label">Fecha Vencimiento<span class="text-danger"> *</span></label>
      			<div class='input-group date fecha_vencimiento'>
        			<input type='text' class="form-control" id="fecha_vencimiento" name="fecha_vencimiento" value="{{{FECHA_VENCIMIENTO}}}">
        			<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
      			</div>
    		</div>
          </div>
        </div>
    </div>
  </div>
</div>
<hr>
<table id="tabla" class="table table-striped dataTables dataTable no-footer dtr-inline notas"></table>
<div class="row">
    <div class="col-md-11 text-right">
        <a class="btn btn-primary" href="{{{LINK}}}">NUEVO</a>
    </div>
</div>    
<div class="row">
    <div class="col-md-6 exportador">   
        <button class="btn btn-default accion_exportador" value="{{{BOTON_EXCEL}}}"><span class="fa fa-file-text-o"></span> EXCEL</button> 
    </div>

</div>